<div class="general h-100 mt-5">
    <div class="card table-pc container px-0">
        <p-table [value]="productosCarrito" [tableStyle]="{'width': '100%'}" [breakpoint]="'600px'" *ngIf="productosCarrito.length!=0">

            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>
                        <a [routerLink]="'ver-mas/'+product.art_id">
                            <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg'" [alt]="product.nombre" width="100" class="shadow-4" />
                        </a>

                        <a [routerLink]="'/ver-mas/'+product.art_id" class="ms-2">{{product.nombre}}</a>

                    </td>
                    <td class="td-cant">
                        <div class="input-group text-center ">
                            <span class="input-group-btn ">
                        <button type="button " class="btn btn-number text-center " data-type="minus " (click)="menos(product) ">
                            <span class=" ">-</span>
                            </button>
                            </span>
                            <input type="text " name="quant[2] " class="form-control input-number text-center m-auto " min="1" max="3" [(ngModel)]="product.cantidadCarro" (focusout)="lostFocus(product.cantidadCarro, product)" (ngModelChange)="cambiarCantidad(product.cantidadCarro, product)"
                                (focus)="cambiarCantidad(product.cantidadCarro, product)">
                            <span class="input-group-btn ">
                        <button type="button " class="btn btn-number text-center " data-type="plus " (click)="mas(product) ">
                            <span class=" ">+</span>
                            </button>
                            </span>
                        </div>
                    </td>
                    <td class="precio">
                        <span class="" *ngIf="product.promocion==undefined || product.promocion==0">
                ${{product.precio_venta* product.cantidadCarro |  number:'1.2-2' : 'es-AR'}}
              </span>
                        <div *ngIf="product.promocion!=undefined && product.promocion!=0">
                            <span class="tachado d-block">
                        ${{product.precio_venta * product.cantidadCarro |  number:'1.2-2' : 'es-AR'}}
                      </span>
                            <span class="">
                    ${{(product.precio_venta - product.precio_venta*product.promocion/100 )* product.cantidadCarro |  number:'1.2-2' : 'es-AR'}}
                    </span>
                        </div>
                    </td>
                    <td class="td-borrar">
                        <p-button icon="pi pi-trash" (click)="eliminarItem(product) "></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td></td>

                    <td class="flex align-items-center justify-content-between">
                        {{productosCarrito ? productosCarrito.length : 0 }} artículos
                    </td>
                    <td>Total: ${{total}}</td>
                    <td>
                        <p-button icon="pi pi-trash" (click)="vaciarTodo() "></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="card table-mobile container">
        <p-table [value]="productosCarrito" [tableStyle]="{'width': '100%'}" [breakpoint]="'600px'" *ngIf="productosCarrito.length!=0">
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>
                        <div>
                            <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg'" [alt]="product.nombre" width="100" class="shadow-4" />
                            <span class="ms-2">{{product.nombre}}</span>
                        </div>
                        <span class="" *ngIf="product.promocion==undefined || product.promocion==0">
                      ${{product.precio_venta* product.cantidadCarro |  number:'1.2-2' : 'es-AR'}}
                    </span>
                        <div *ngIf="product.promocion!=undefined && product.promocion!=0">
                            <span class="tachado d-block">
                              ${{product.precio_venta * product.cantidadCarro |  number:'1.2-2' : 'es-AR'}}
                            </span>
                            <span class="">
                          ${{(product.precio_venta - product.precio_venta*product.promocion/100 )* product.cantidadCarro |  number:'1.2-2' : 'es-AR'}}
                          </span>
                        </div>

                    </td>
                    <td class="td-cant">
                        <div class="input-group text-center ">
                            <span class="input-group-btn ">
                      <button type="button " class="btn btn-danger btn-number text-center " data-type="minus "
                          data-field="quant[2] " (click)="menos(product) ">
                          <span class=" ">-</span>
                            </button>
                            </span>
                            <input type="text " name="quant[2] " class="form-control input-number text-center m-auto " min="1" max="3" [(ngModel)]="product.cantidadCarro" (focusout)="lostFocus(product.cantidadCarro, product)" (ngModelChange)="cambiarCantidad(product.cantidadCarro, product)"
                                (focus)="cambiarCantidad(product.cantidadCarro, product)">
                            <span class="input-group-btn ">
                      <button type="button " class="btn btn-success btn-number text-center " data-type="plus "
                          data-field="quant[2] " (click)="mas(product) ">
                          <span class=" ">+</span>
                            </button>
                            </span>
                        </div>
                        <p-button icon="pi pi-trash" (click)="eliminarItem(product) "></p-button>

                    </td>
                    <!-- <td><img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.fotos[0].foto_nombre" [alt]="product.nombre" width="100" class="shadow-4" /></td> -->
                </tr>
            </ng-template>

        </p-table>
    </div>




    <div class="acciones justify-content-end" *ngIf="productosCarrito.length!=0 ">
        <p-button label="Seguir comprando" icon="pi pi-shopping-cart" styleClass="p-button-primary" [routerLink]="'/productos'"></p-button>
        <p-button label="Vaciar carrito" icon="pi pi-trash" styleClass="p-button-danger" (click)="vaciarTodo()"></p-button>
        <p-button label="Confirmar pedido" icon="pi pi-whatsapp" styleClass="p-button-success" (click)="enviarWpp() "></p-button>

    </div>


    <div *ngIf="productosCarrito.length==0 ">
        <h1>No hay artículos en el carrito</h1>
    </div>
    <div class="w-100">
        <p-toast position="bottom-right"></p-toast>
    </div>
</div>
<!-- <a href="https://api.whatsapp.com/send?phone=3534273353&text=Hola,%20¿Qué%20tal%20%estás? " style="font-size:20px;padding:5px 12px;border-radius:5px;background-color:#189D0E;color:white;text-shadow:none; "> ›› Mensaje de WhatsApp </a> -->
