.general {}

a {
    color: black;
    text-decoration: none;
}

.input-group {
    width: 120px;
    display: flex;
    background-color: #f5d5f8;
}

.img-table {
    max-height: 100px;
    object-fit: cover;
}

.acciones {
    gap: 10px;
    width: 90%;
    margin-top: 20px;
}

.tachado {
    text-decoration: line-through;
}

@media screen and (max-width: 600px) {
    .table-pc {
        display: none;
    }
    .table-mobile {
        display: block;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    }
    .acciones {
        display: block;
        margin-left: 5px;
    }
    .acciones button {
        margin-top: 5px;
    }
}

@media screen and (min-width: 600px) {
    .table-pc {
        display: block;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    }
    .table-mobile {
        display: none;
    }
    .acciones {
        display: flex;
    }
}

.titulo {
    color: #3b3a39;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 50px 0px 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-empty {
    width: 700px;
    height: auto;
}