<div class="container">

    <div class="row">
        <h2>Artículos en stock</h2>
    </div>
    <div class="row justify-content-between">
        <div class="card p-0">
            <div class="foto">
                <img src="../../../assets/img/producto1.jpg " class=" " alt="... ">
            </div>

            <div class="mt-auto p-3 ">
                <h5 class="card-title ">Producto 1</h5>
                <p class="card-text ">Este producto tiene pinpunpam</p>
                <a href="# " class="btn ">agregar al carrito</a>
            </div>
        </div>

        <div class="card p-0 ">
            <img src="../../../assets/img/producto2.jpg" class="card-img-top" alt="...">
            <div class="mt-auto p-3">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title
                    and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="#" class="btn">agregar al carrito</a>
            </div>
        </div>

        <div class="card p-0">
            <img src="../../../assets/img/producto3.jpg " class="card-img-top " alt="... ">
            <div class="mt-auto p-3 ">
                <h5 class="card-title ">Card title</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="# " class="btn btn-primary ">Go somewhere</a>
            </div>
        </div>
        <div class="card p-0">
            <img src="../../../assets/img/producto4.jpg " class="card-img-top " alt="... ">
            <div class="mt-auto p-3 ">
                <h5 class="card-title ">Card title</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="# " class="btn btn-primary ">Go somewhere</a>
            </div>
        </div>
    </div>
</div>