<div class="container">
    <div class="form-group1 justify-content-between">
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="producto.nombre">
        </mat-form-field>
        <mat-form-field class="example-full-width ">
            <mat-label>Stock</mat-label>
            <input matInput [(ngModel)]="producto.stock">
        </mat-form-field>

    </div>
    <br>

    <div class="form-group2 justify-content-between">

        <mat-form-field class="example-full-width ">
            <mat-label>Precio Compra</mat-label>
            <input matInput placeholder="" [(ngModel)]="producto.precioCompra">
        </mat-form-field>
        <mat-form-field class="example-full-width ">
            <mat-label>Precio venta</mat-label>
            <input matInput placeholder="" [(ngModel)]="producto.precioVenta">
        </mat-form-field>
    </div>
    <br>
    <div class="form-group3 justify-content-between">
        <mat-form-field class="example-full-width ">
            <mat-label>Promoción</mat-label>
            <input matInput placeholder="" [(ngModel)]="producto.promocion">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width ">
            <mat-label>Color</mat-label>
            <input matInput placeholder="" [(ngModel)]="producto.color">
        </mat-form-field>
        <mat-form-field class="example-full-width ">
            <mat-label>Unidad medida</mat-label>
            <input matInput placeholder="" [(ngModel)]="producto.unidadMedida">
        </mat-form-field>

        <mat-radio-group aria-label="Select an option" class="ms-5" *ngIf="!nuevo">
            <mat-checkbox [(ngModel)]="producto.artHabilitado" [color]="'primary'">Habilitado</mat-checkbox>
        </mat-radio-group>
    </div>
    <div class="form-group5 justify-content-between">

        <mat-form-field appearance="fill" class="me-5">
            <mat-label>Categoría</mat-label>
            <mat-select [(value)]="producto.art_cat.cat_id">
                <mat-option [value]="cat.cat_id" *ngFor="let cat of categorias">{{cat.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-group5 justify-content-between">

        <mat-form-field class="example-full-width w-100">
            <mat-label>Descripción</mat-label>
            <textarea matInput [(ngModel)]="producto.descripcion "></textarea>
        </mat-form-field>

        <div mat-dialog-actions>
        </div>
    </div>
    <button (click)="nuevoArticulo()" mat-raised-button color="primary">Guardar</button>
    <p-toast position="bottom-right"></p-toast>
</div>


<!-- <mat-form-field class="example-full-width">
  <mat-label>Codigo</mat-label>
  <input matInput placeholder="" [(ngModel)]="producto.codigo">
</mat-form-field>
<mat-form-field class="example-full-width">
  <mat-label>Sub Codigo</mat-label>
  <input matInput placeholder="" [(ngModel)]="producto.subcodigo">
</mat-form-field> -->
