<div class="card-wrapper">
    <div class="card">
        <!-- card left -->
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <img src={{imagen}}>
                </div>
            </div>
            <div class="img-select" *ngIf="producto.fotos.length>1">
                <div class="img-item" (click)="cambiarImagen(foto)" *ngFor="let foto of producto.fotos">
                    <a class="sub-fotos">
                        <img src="../../..{{foto}}" alt="Producto">
                    </a>
                </div>

                <!-- <div class="img-item" (click)="cambiarImagen('../../../assets/img/producto2.jpg')">
                    <a href="#" data-id="2">
                        <img src="../../../assets/img/producto2.jpg" alt="shoe image">
                    </a>
                </div> -->

            </div>
        </div>
        <!-- card right -->
        <div class="product-content">
            <h2 class="product-title">{{producto.nombre}}</h2>
            <!-- <a href="#" class="product-link">visit nike store</a> -->
            <!-- <div class="product-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span>4.7(21)</span>
            </div> -->

            <div class="product-price">
                <!-- <p class="last-price">Old Price: <span>$257.00</span></p> -->
                <p class="new-price">Precio: <span>${{producto.precio}}</span></p>
            </div>

            <div class="product-detail">
                <h2>Descripción del producto </h2>
                <p>{{producto.descripcion}}</p>
                <ul>
                    <li>Color:
                        <span *ngFor="let color of producto.detalle.colores" class="px-2">{{color}}</span>
                    </li>
                    <li>Cantidad: <span>{{producto.stock}}</span></li>
                    <li>Categoría: <span>{{producto.detalle.categoria}}</span></li>
                </ul>
            </div>

            <div class="purchase-info">
                <!-- <input type="number" min="1" value="{{cantidadCarrito}}" max="{{producto.stock}}"> -->
                
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]" (click)="menos(producto)">
                          <span class="">-</span>
                    </button>
                    </span>
                    <input type="text" name="quant[2]" class="form-control input-number" min="1" max="3" value="{{producto.cantidadCarro}}">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]" (click)="mas(producto)">
                            <span class="">+</span>
                    </button>
                    </span>
                </div>
                <button type="button" class="btn ms-4" (click)="agregarProducto(producto)">
                    Agregar al carrito <i class="fas fa-shopping-cart"></i>
                </button>
                <!-- <button type="button" class="btn">Compare</button> -->
            </div>

            <!-- <div class="social-links">
                <p>Share At: </p>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a href="#">
                    <i class="fab fa-pinterest"></i>
                </a>
            </div> -->
        </div>
    </div>
</div>