<p-breadcrumb class="max-w-full" [model]="items" [home]="home">
</p-breadcrumb>
<div class="card-wrapper">
    <div class="card">
        <!-- card left -->
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <img class="seleccionada" src={{imagen}} *ngIf="producto.fotos.length!=0 && !producto.errorImagen" (error)="errorImagen(producto)" />
                    <img src='./../../../assets/img/sin foto.jpg' alt="Imagen producto" *ngIf="producto.fotos.length==0 || producto.errorImagen" />
                </div>
            </div>
            <div class="img-select" *ngIf="producto.fotos.length>1">
                <div class="img-item" (click)="cambiarImagen(foto)" *ngFor="let foto of producto.fotos">
                    <a class="sub-fotos">
                        <img src="{{url_imagen+foto.nombre}}" alt="Producto" (load)="getImageSize($event, foto)" [style]="foto.style" (error)="errorImagen(producto)" *ngIf="!producto.errorImagen">
                        <img src='./../../../assets/img/sin foto.jpg' alt="Imagen producto" *ngIf="producto.fotos.length!=0 && producto.errorImagen" />

                        <img src='./../../../assets/img/sin foto.jpg' alt="Imagen no disponible" *ngIf="producto.fotos.length==0" />
                    </a>
                </div>
            </div>
        </div>
        <div class="product-content">
            <h1 class="product-title">{{producto.nombre}}</h1>
            <span *ngIf="producto.promocion!=undefined && producto.promocion!=0" class="span-oferta">Oferta</span>

            <div class="product-price" *ngIf="producto.promocion==undefined || producto.promocion==0">
                <p class="new-price">Precio: <span>${{producto.precioVenta |  number:'1.2-2' : 'es-AR'}}</span></p>
            </div>
            <div class="product-price" *ngIf="producto.promocion!=undefined && producto.promocion!=0">
                <p class="new-price">Precio anterior: <span class="tachado">${{producto.precioVenta |  number:'1.2-2' : 'es-AR'}} </span>
                    <span class="ms-2 text-dark"> {{producto.promocion |  number:'1.2-2' : 'es-AR'}} %</span></p>
                <p class="new-price">Precio promoción: <span>${{producto.precioVenta - producto.precioVenta *producto.promocion/100 |  number:'1.2-2' : 'es-AR'}}</span></p>
            </div>

            <div class="product-detail">
                <h2 *ngIf="producto.descripcion!=undefined">Descripción del producto </h2>
                <p>{{producto.descripcion}}</p>
                <ul>
                    <li>Stock: <span>{{producto.stock}}</span></li>
                    <li *ngIf="producto.color!=undefined">Color:
                        <label class="form-check-label" for="flexCheckDefault">
                            {{producto.color}}
                        </label>
                    </li>
                    <li *ngIf="producto.unidadMedida!=undefined">Capacidad:
                        <label class="form-check-label" for="flexCheckDefault">
                          {{producto.unidadMedida}}
                      </label>
                    </li>
                </ul>
            </div>

            <div class="purchase-info">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]"
                            (click)="menos(producto)">
                            <span class="">-</span>
                    </button>
                    </span>
                    <input type="number" name="quant[2]" class="form-control input-number" min="1" max="{{producto.stock}}" [(ngModel)]="producto.cantidadCarro" (focusout)="lostFocus(producto.cantidadCarro, producto)" (ngModelChange)="cambiarCantidad(producto.cantidadCarro, producto)"
                        (focus)="cambiarCantidad(producto.cantidadCarro, producto)">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]"
                            (click)="mas(producto)">
                            <span class="">+</span>
                    </button>
                    </span>
                </div>
                <button type="button" class="btn ms-4" (click)="agregarProducto(producto)">
                    {{producto.agregado ? 'Actualizar cantidad':'Agregar al carrito'}}
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
            <!-- <span *ngIf="producto.agregado" class="span-carrito">
              Agregado al carrito
            </span> -->
        </div>
    </div>
</div>
<p-toast position="bottom-right"></p-toast>
