nav {
    background-color: #f7edf8;
}

.redes {
    gap: 10px;
    margin-right: 20px;
}

.bi-instagram {
    color: black;
}

.bi-facebook {
    color: blue;
}

.bi-whatsapp {
    color: green;
}

.cantCarrito {
    position: absolute;
    background-color: rgb(255, 121, 255);
    width: 22px;
    height: 22px;
    border-radius: 100%;
    padding-left: 6px;
    color: black;
    margin-left: -8px;
    margin-top: -5px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

li {
    list-style: none;
}

.central {
    flex-grow: 2;
}

.inputBuscar,
.mat-complete {
    width: 500px;
    max-width: 100%;
}

.example-form {
    width: 500px;
    max-width: 90vw;
}